/* [next]/internal/font/google/public_sans_c04fba6f.module.css [app-client] (css) */
@font-face {
  font-family: Public Sans;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../media/6e8df35dd937fa7a-s.a5971124.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: Public Sans;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../media/fc2699ecc8323b38-s.dda394a5.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Public Sans;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../media/fa0520225c6f3d07-s.p.d28ba1c8.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Public Sans;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../media/6e8df35dd937fa7a-s.a5971124.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: Public Sans;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../media/fc2699ecc8323b38-s.dda394a5.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Public Sans;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../media/fa0520225c6f3d07-s.p.d28ba1c8.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Public Sans;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../media/6e8df35dd937fa7a-s.a5971124.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: Public Sans;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../media/fc2699ecc8323b38-s.dda394a5.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Public Sans;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../media/fa0520225c6f3d07-s.p.d28ba1c8.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Public Sans;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../media/6e8df35dd937fa7a-s.a5971124.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: Public Sans;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../media/fc2699ecc8323b38-s.dda394a5.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Public Sans;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../media/fa0520225c6f3d07-s.p.d28ba1c8.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Public Sans;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../media/6e8df35dd937fa7a-s.a5971124.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: Public Sans;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../media/fc2699ecc8323b38-s.dda394a5.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Public Sans;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../media/fa0520225c6f3d07-s.p.d28ba1c8.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Public Sans;
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../media/6e8df35dd937fa7a-s.a5971124.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: Public Sans;
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../media/fc2699ecc8323b38-s.dda394a5.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Public Sans;
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../media/fa0520225c6f3d07-s.p.d28ba1c8.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Public Sans;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../media/6e8df35dd937fa7a-s.a5971124.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: Public Sans;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../media/fc2699ecc8323b38-s.dda394a5.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Public Sans;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../media/fa0520225c6f3d07-s.p.d28ba1c8.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Public Sans Fallback;
  src: local(Arial);
  ascent-override: 90.59%;
  descent-override: 21.46%;
  line-gap-override: 0.0%;
  size-adjust: 104.87%;
}

.public_sans_c04fba6f-module__czALtq__className {
  font-family: Public Sans, Public Sans Fallback;
  font-style: normal;
}

/* [project]/src/app/globals.css [app-client] (css) */
@layer properties {
  @supports (((-webkit-hyphens: none)) and (not (margin-trim: inline))) or ((-moz-orient: inline) and (not (color: rgb(from red r g b)))) {
    *, :before, :after, ::backdrop {
      --tw-rotate-x: initial;
      --tw-rotate-y: initial;
      --tw-rotate-z: initial;
      --tw-skew-x: initial;
      --tw-skew-y: initial;
      --tw-border-style: solid;
      --tw-leading: initial;
      --tw-blur: initial;
      --tw-brightness: initial;
      --tw-contrast: initial;
      --tw-grayscale: initial;
      --tw-hue-rotate: initial;
      --tw-invert: initial;
      --tw-opacity: initial;
      --tw-saturate: initial;
      --tw-sepia: initial;
      --tw-drop-shadow: initial;
      --tw-drop-shadow-color: initial;
      --tw-drop-shadow-alpha: 100%;
      --tw-drop-shadow-size: initial;
    }
  }
}

@layer theme {
  :root, :host {
    --spacing: .25rem;
    --text-lg: 1.125rem;
    --text-lg--line-height: calc(1.75 / 1.125);
    --text-2xl: 1.5rem;
    --text-2xl--line-height: calc(2 / 1.5);
    --default-transition-duration: .15s;
    --default-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    --radius: var(--mui-shape-customBorderRadius-md);
    --color-primary: var(--primary-color);
    --color-error: var(--mui-palette-error-main);
    --color-textPrimary: var(--mui-palette-text-primary);
  }
}

@layer base {
  *, :before, :after {
    box-sizing: border-box;
    border: 0 solid;
    border-color: var(--border-color, currentColor);
    margin: 0;
    padding: 0;
  }
}

@layer components;

@layer utilities {
  .absolute {
    position: absolute !important;
  }

  .fixed {
    position: fixed !important;
  }

  .relative {
    position: relative !important;
  }

  .static {
    position: static !important;
  }

  .inline-end-5 {
    inset-inline-end: calc(var(--spacing) * 5) !important;
  }

  .container {
    width: 100% !important;
  }

  @media (min-width: 600px) {
    .container {
      max-width: 600px !important;
    }
  }

  @media (min-width: 900px) {
    .container {
      max-width: 900px !important;
    }
  }

  @media (min-width: 1200px) {
    .container {
      max-width: 1200px !important;
    }
  }

  @media (min-width: 1536px) {
    .container {
      max-width: 1536px !important;
    }
  }

  @media (min-width: 1920px) {
    .container {
      max-width: 1920px !important;
    }
  }

  .mt-auto {
    margin-top: auto !important;
  }

  .flex {
    display: flex !important;
  }

  .hidden {
    display: none !important;
  }

  .inline-block {
    display: inline-block !important;
  }

  .inline-flex {
    display: inline-flex !important;
  }

  .h-full {
    height: 100% !important;
  }

  .flex-auto {
    flex: auto !important;
  }

  .shrink {
    flex-shrink: 1 !important;
  }

  .grow {
    flex-grow: 1 !important;
  }

  .transform {
    transform: var(--tw-rotate-x, ) var(--tw-rotate-y, ) var(--tw-rotate-z, ) var(--tw-skew-x, ) var(--tw-skew-y, ) !important;
  }

  .flex-col {
    flex-direction: column !important;
  }

  .flex-wrap {
    flex-wrap: wrap !important;
  }

  .items-center {
    align-items: center !important;
  }

  .justify-between {
    justify-content: space-between !important;
  }

  .justify-center {
    justify-content: center !important;
  }

  .gap-1 {
    gap: calc(var(--spacing) * 1) !important;
  }

  .gap-1\.5 {
    gap: calc(var(--spacing) * 1.5) !important;
  }

  .gap-2 {
    gap: calc(var(--spacing) * 2) !important;
  }

  .gap-4 {
    gap: calc(var(--spacing) * 4) !important;
  }

  .gap-5 {
    gap: calc(var(--spacing) * 5) !important;
  }

  .gap-6 {
    gap: calc(var(--spacing) * 6) !important;
  }

  .gap-x-3 {
    column-gap: calc(var(--spacing) * 3) !important;
  }

  .gap-y-1 {
    row-gap: calc(var(--spacing) * 1) !important;
  }

  .rounded {
    border-radius: var(--radius) !important;
  }

  .border {
    border-style: var(--tw-border-style) !important;
    border-width: 1px !important;
  }

  .border-primary {
    border-color: var(--color-primary) !important;
  }

  .p-0 {
    padding: calc(var(--spacing) * 0) !important;
  }

  .p-6 {
    padding: calc(var(--spacing) * 6) !important;
  }

  .pli-5 {
    padding-inline: calc(var(--spacing) * 5) !important;
  }

  .text-center {
    text-align: center !important;
  }

  .text-end {
    text-align: end !important;
  }

  .text-2xl {
    font-size: var(--text-2xl) !important;
    line-height: var(--tw-leading, var(--text-2xl--line-height)) !important;
  }

  .text-lg {
    font-size: var(--text-lg) !important;
    line-height: var(--tw-leading, var(--text-lg--line-height)) !important;
  }

  .text-\[3\.5rem\] {
    font-size: 3.5rem !important;
  }

  .text-\[8px\] {
    font-size: 8px !important;
  }

  .leading-none {
    --tw-leading: 1 !important;
    line-height: 1 !important;
  }

  .text-error {
    color: var(--color-error) !important;
  }

  .text-primary {
    color: var(--color-primary) !important;
  }

  .text-textPrimary {
    color: var(--color-textPrimary) !important;
  }

  .overline {
    text-decoration-line: overline !important;
  }

  .blur {
    --tw-blur: blur(8px) !important;
    filter: var(--tw-blur, ) var(--tw-brightness, ) var(--tw-contrast, ) var(--tw-grayscale, ) var(--tw-hue-rotate, ) var(--tw-invert, ) var(--tw-saturate, ) var(--tw-sepia, ) var(--tw-drop-shadow, ) !important;
  }

  .filter {
    filter: var(--tw-blur, ) var(--tw-brightness, ) var(--tw-contrast, ) var(--tw-grayscale, ) var(--tw-hue-rotate, ) var(--tw-invert, ) var(--tw-saturate, ) var(--tw-sepia, ) var(--tw-drop-shadow, ) !important;
  }

  .transition {
    transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to, opacity, box-shadow, transform, translate, scale, rotate, filter, -webkit-backdrop-filter, backdrop-filter, display, content-visibility, overlay, pointer-events !important;
    transition-timing-function: var(--tw-ease, var(--default-transition-timing-function)) !important;
    transition-duration: var(--tw-duration, var(--default-transition-duration)) !important;
  }

  .block-start-4 {
    inset-block-start: calc(var(--spacing) * 4) !important;
  }

  .is-full {
    inline-size: 100% !important;
  }

  .max-is-\[1200px\] {
    max-inline-size: 1200px !important;
  }

  .max-is-\[1440px\] {
    max-inline-size: 1440px !important;
  }

  .mbe-2 {
    margin-block-end: calc(var(--spacing) * 2) !important;
  }

  .mbe-6 {
    margin-block-end: calc(var(--spacing) * 6) !important;
  }

  .min-bs-\[100dvh\] {
    min-block-size: 100dvh !important;
  }

  .min-bs-full {
    min-block-size: 100% !important;
  }

  .pbe-5 {
    padding-block-end: calc(var(--spacing) * 5) !important;
  }

  .pbs-10 {
    padding-block-start: calc(var(--spacing) * 10) !important;
  }

  .pbs-\[3\.75rem\] {
    padding-block-start: 3.75rem !important;
  }

  @media (min-width: 600px) {
    .sm\:\!p-12 {
      padding: calc(var(--spacing) * 12) !important;
    }
  }

  @media (min-width: 600px) {
    .sm\:p-16 {
      padding: calc(var(--spacing) * 16) !important;
    }
  }

  @media (min-width: 600px) {
    .sm\:is-\[450px\] {
      inline-size: 450px !important;
    }
  }

  @media (min-width: 1536px) {
    .xl\:pli-\[6\.25rem\] {
      padding-inline: 6.25rem !important;
    }
  }

  @media (min-width: 1536px) {
    .xl\:\!plb-16 {
      padding-block: calc(var(--spacing) * 16) !important;
    }
  }
}

:root {
  --border-radius: var(--mui-shape-borderRadius);
  --border-color: var(--mui-palette-divider);
  --primary-color: var(--mui-palette-primary-main);
  --background-color: var(--mui-palette-background-default);
  --background-color-rgb: var(--mui-palette-background-paperChannel);
  --backdrop-color: rgb(var(--mui-mainColorChannels-light) / .5);
  --mui-mainColorChannels-shadow: var(--mui-mainColorChannels-lightShadow);
}

[data-dark] {
  --backdrop-color: #17192599;
  --mui-mainColorChannels-shadow: var(--mui-mainColorChannels-darkShadow);
}

html {
  min-block-size: 100%;
  inline-size: 100%;
  display: flex;
}

a {
  color: inherit;
  text-decoration: none;
}

:where([class^="tabler-"]) {
  font-size: 1.5rem;
}

@property --tw-rotate-x {
  syntax: "*";
  inherits: false
}

@property --tw-rotate-y {
  syntax: "*";
  inherits: false
}

@property --tw-rotate-z {
  syntax: "*";
  inherits: false
}

@property --tw-skew-x {
  syntax: "*";
  inherits: false
}

@property --tw-skew-y {
  syntax: "*";
  inherits: false
}

@property --tw-border-style {
  syntax: "*";
  inherits: false;
  initial-value: solid;
}

@property --tw-leading {
  syntax: "*";
  inherits: false
}

@property --tw-blur {
  syntax: "*";
  inherits: false
}

@property --tw-brightness {
  syntax: "*";
  inherits: false
}

@property --tw-contrast {
  syntax: "*";
  inherits: false
}

@property --tw-grayscale {
  syntax: "*";
  inherits: false
}

@property --tw-hue-rotate {
  syntax: "*";
  inherits: false
}

@property --tw-invert {
  syntax: "*";
  inherits: false
}

@property --tw-opacity {
  syntax: "*";
  inherits: false
}

@property --tw-saturate {
  syntax: "*";
  inherits: false
}

@property --tw-sepia {
  syntax: "*";
  inherits: false
}

@property --tw-drop-shadow {
  syntax: "*";
  inherits: false
}

@property --tw-drop-shadow-color {
  syntax: "*";
  inherits: false
}

@property --tw-drop-shadow-alpha {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}

@property --tw-drop-shadow-size {
  syntax: "*";
  inherits: false
}

/*# sourceMappingURL=%5Broot-of-the-server%5D__f54dc15f._.css.map*/